.navbar {
    background-color: #02084b;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #2b3dff;
}
