/* Styles spécifiques à la page Le Rein */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f7; /* Fond clair */
    margin: 0;
    padding: 0;
}

.header-top {
    padding: 30px 20px 10px;
    text-align: center;
    background-color: #f5f5f5;
}

.header-top h1 {
    margin: 0;
    font-size: 28px;
    color: #02084b;
}

.content {
    padding: 40px;
    text-align: center;
}

.content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    color: #555;
}
