* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #edede9;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.header-top {
  padding: 30px 20px 10px;
  text-align: center;
  background: #f5ebe0;
  color: #4a536b;
}

.header-top h1 {
  margin: 0;
  font-size: 28px;
  color: #4a536b;
}
  
.quiz-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: fit-content;
  margin: 50px auto; /* CENTRAGE horizontal + espacement du haut */
  text-align: center;
}

  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.correct {
    background-color: #4CAF50; /* vert */
    color: white;
  }
  
  button.wrong {
    background-color: #F44336; /* rouge */
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #score {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  .back-button {
    display: inline-block;
    margin: 20px 20px 0;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #ffffffcc;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
  }
  
  
  .back-button:hover {
    background-color: #eee;
    transform: scale(1.05);
  }
  